
/* PLAYER */

.player-container {
    position: relative;
    width: 100%;
    background: #000;
    min-width: 470px;
    height: 422px;
}

.ie7 .player-container {
    position: absolute;
    left: 0px;
    height: 347px;
    width: 617px;
}

.ie8 .player-container {
    left: 20px;
    height: 347px;
    width: 617px;
}

@media (max-width: 1199px) {
    .player-container {
        height: 347px;
    }
    .ie7 .player-container,
    .ie8 .player-container {
        height: 347px;
        width: 617px;
    }
}

@media (max-width: 991px) {
    .player-container {
        height: 271px;
    }

    .ie7 .player-container,
    .ie8 .player-container {
        height: 347px;
        width: 617px;
    }
}