
/* TIMELINE */

.timeline-wrapper {
    margin: 30px 0 0 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    background: #fff url("../images/timeline-bg.jpg") repeat-x center center;
    font-weight: bold;
    text-align: center;
    color: #2e2e2e;
    position: relative;
}

.timeline-cover {
    cursor: not-allowed;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4000;
    background: #eee url("../images/timeline-bg-highlight.jpg") top left;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
}

.timeline-progress {
    background: url("../images/timeline-bg-highlight.jpg") top left;
    position: absolute;
    width: 0;
    height: 100%;
}

.timeline-progress-hover {
    position: absolute;
    background: url("../images/timeline-bg-highlight.jpg") top left;
    width: 0;
    height: 100%;
    opacity: 0.7;
}

.timeline-indicator {
    position: absolute;
    right: -8px;
    bottom: 0;
    height: 70px;
    width: 20px;
    background: url("../images/timeline-indicator.png") no-repeat top left;
    cursor: pointer;
    z-index: 2;
}



/* VIDEO CONTROL BUTTONS */

.timeline-buttons-container {
    padding: 0;
}

.timeline-control-button-container {
    margin-top: 12px;
}

.timeline-control-button {
    background: url("../images/timeline-controls.png") no-repeat bottom left;
    background-position: 0px 0px;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 auto;
}

/* Back Button */
.timeline-control-button__back {
    background-position: 0px 0px;
}
.timeline-control-button__back:hover,
.timeline-control-button__back:active {
    background-position: 0px -25px
}
/* Play/Pause Button*/
.timeline-control-button__play-pause.play {
    background-position: -50px 0px;
}
.timeline-control-button__play-pause.play:hover,
.timeline-control-button__play-pause.play:active {
    background-position: -50px -25px
}
.timeline-control-button__play-pause.pause {
    background-position: -25px 0px;
}
.timeline-control-button__play-pause.pause:hover,
.timeline-control-button__play-pause.pause:active {
    background-position: -25px -25px
}
/* Forward Button*/
.timeline-control-button__forward {
    background-position: -75px 0px;
}
.timeline-control-button__forward:hover,
.timeline-control-button__forward:active {
    background-position: -75px -25px
}
/* Volume Button */
.timeline-control-button__volume {
    background-position: -125px 0px;
    margin-bottom: -7px;
}
.timeline-control-button__volume:hover,
.timeline-control-button__volume:active {
    background-position: -125px -25px
}
/* Quality buttons*/
.timeline-control-button__quality {
    background-position: -175px 0px;
    margin-bottom: -8px;
}
.timeline-control-button__quality:hover,
.timeline-control-button__quality:active {
    background-position: -175px -25px
}
.timeline-control-button__quality.hd {
    background-position: -175px 0px;
}
.timeline-control-button__quality.sd {
    background-position: -175px -50px;
}
/* Language Buttons*/
.timeline-control-button__language {
    background-position: -200px 0px;
    margin-bottom: -8px;
}
.timeline-control-button__language:hover,
.timeline-control-button__language:active {
    background-position: -200px -25px
}

/* CHAPTER BUTTONS */

.timeline-chapter-buttons {
    display: block;
    padding: 0;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
}

.chapter-button {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

/* The widths of the buttons must add up to 100% */
.chapter-button__introduction {
    width: 17%;
}
.chapter-button__chapter1 {
    width: 16%;
}
.chapter-button__chapter2 {
    width: 17%;
}
.chapter-button__chapter3 {
    width: 17%;
}
.chapter-button__chapter4 {
    width: 16%;
}
.chapter-button__thanks {
    width: 17%;
}

/* LANGUAGE SELECTOR */

.timeline-control-language-container {
    padding: 13px 0 0 0;
    display: inline-block;
}

.timeline-control-language__popout {
    position: absolute;
    top: -50px;
    right: -25px;
    background: #608b65;
    color: #fff;
    border-radius: 8px 8px 0 0;
    height: 50px;
    width: 120px;
    font-size: 0.8em;
    line-height: 2.1em;
    border-bottom: none;
    cursor: default;
    display: none;
}

.timeline-control-language__item:hover {
    background: #527F56;
    cursor: pointer;
}

.timeline-control-language__item-top:hover {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

@media (max-width: 1199px) {
    .timeline-control-language__popout {
        right: -30px;
    }
}

@media (max-width: 991px) {
    .timeline-control-language__popout {
        right: -35px;
    }
}

.ie7 .timeline-control-language__popout {
    right: -35px;
}

.timeline-control-language.open, .timeline-control-language__popout.open {
    display: block;
}

/* QUALITY SELECTOR */

.timeline-control-quality-container {
    padding: 13px 0 0 0;
    display: inline-block;
}

.timeline-control-quality__popout {
    position: absolute;
    top: -115px;
    right: -2px;
    background: #608b65;
    color: #fff;
    border-radius: 8px 8px 0 0;
    height: 115px;
    width: 70px;
    font-size: 0.8em;
    line-height: 2.1em;
    border-bottom: none;
    cursor: default;
    display: none;
}

.timeline-control-quality__item:hover {
    background: #527F56;
    cursor: pointer;
}

.timeline-control-quality__item-top:hover {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

@media (max-width: 1199px) {
    .timeline-control-quality__popout {
        right: -7px;
    }
}

@media (max-width: 991px) {
    .timeline-control-quality__popout {
        right: -10px;
    }
}

.ie7 .timeline-control-quality__popout {
    right: -5px;
    top: -120px;
    height: 120px;
}

.ie8 .timeline-control-quality__popout {
    top: -120px;
    height: 120px;
}

.timeline-control-quality.open, .timeline-control-quality__popout.open {
    display: block;
}


/* VOLUME SLIDER */

.timeline-control-volume-container {
    padding: 12px 0 0 0;
    display: inline-block;
}

/* Display the approximate volume state in the volume icon */
.timeline-control-button__volume.volume-0 {
    background-position: -100px 0;
}
.timeline-control-button__volume.volume-1 {
    background-position: -125px 0;
}
.timeline-control-button__volume.volume-2 {
    background-position: -150px 0;
}

.timeline-control-volume__popout {
    position: absolute;
    top: -100px;
    right: 20px;
    background: url("../images/volume-bg.png") no-repeat top center;
    border-radius: 8px 8px 0 0;
    height: 100px;
    width: 32px;
    border-bottom: none;
    cursor: default;
    display: none;
}

@media (max-width: 1199px) {
    .timeline-control-volume__popout {
        right: 15px;
    }
}

@media (max-width: 991px) {
    .timeline-control-volume__popout {
        right: 10px;
    }
}

.timeline-control-volume.open .timeline-control-volume__popout {
    display: block;
}

.timeline-control-volume__popout-bg {
    position: absolute;
    bottom: 5px;
    right: 11px;
    height: 80px;
    width: 10px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.timeline-control-volume__popout-bg-selected-volume {
    position: absolute;
    bottom: 10px;
    right: 6px;
    width: 20px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    background: url("../images/volume-bg-dark.png") no-repeat top center;
}

.timeline-control-volume__popout-ball {
    position: absolute;
    top: -5px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: url("../images/volume-ball-bg.png") no-repeat top left;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
}

.ie8 .timeline-control-volume__popout {
    right: 10px;
}

.ie7 .timeline-control-volume__popout {
    right: 10px;
}

.ie7 .timeline-control-volume__popout-bg-selected-volume {
    right: 6px;
}

.ie7 .timeline-control-volume__popout-ball {
    right: 0px;
}